<div class="container">
    <header>Trainning</header>
    <hr>
    <div class="body d-fx fx-row fx-sp-between p-15">
        <section class="first_section"> 
            <p>Mon Compte</p>
            <ul>
                <li routerLink="profile">Mon profil</li>
                <li>Impoter des données</li>
                <li>intégrations</li>
                <li>Développeurs</li>
                <li>Corbeille</li>
                <li>Archiver</li>
                <li>Admin</li>
                <li>Equipes</li>
                <li>Déconnexion</li>
            </ul>
        </section>
        <section class="second_section d-fx fx-column">
            <div>
                <p>Explorer</p>
                <ul>
                    <li>Mon profil</li>
                    <li>Impoter des données</li>
                    <li>intégrations</li>
                    <li>Développeurs</li>
                    <li>Corbeille</li>
                    <li>Archiver</li>
                    <li>Admin</li>
                    <li>Equipes</li>
                    <li>Déconnexion</li>
                </ul>
            <!-- <hr> -->
            </div>
            <!-- <div>
                <ul>
                    <li>Mon profil</li>
                    <li>Impoter des données</li>
                    <li>intégrations</li>
                    <li>Développeurs</li>
                    <li>Corbeille</li>
                    <li>Archiver</li>
                    <li>Admin</li>
                    <li>Equipes</li>
                    <li>Déconnexion</li>
                </ul>
            </div> -->
        </section>
    </div>
    <hr>
    <footer>
        <p>status de travail</p>
    </footer>
</div>