<div id="container">

    <div id="header">
        <ul class="btn-header">
            <button class="btn">
                <span class="e-text" title="Notifacation">Notifacation</span>
            </button>

            <button class="btn">
                <span class="e-text" title="Boite de réception">Boite de réception</span>
            </button>

            <button class="btn">
                <span class="e-text" title="Mon travail">Mon travail</span>
            </button>
        </ul>
    </div>

    <div id="content-space">
        <h1>https://training842441.monday.com/ pour ajoud'hui</h1>
    </div>

<div>