<div id="header-space" class="padding-15 display-flex align-end">
    <div class="width-100">
        <h4>Bonsoir Sodikiolawale,</h4>
        <h4> pouvez être satisfait(e) de ce que vous avez accompli aujourd'hui !</h4>
    </div>
    <div class="btn-group display-flex">
        <button class="btn-avis">Donnez votre avis</button>
        <button class="btn-search"> Recherche rapide</button>
    </div>

</div>

<div id="container" class="display-flex padding-20 align-center">

    <div id="bloc-principal" class="width-100 margin-right-15">

        <section id="suggestion-container" class="border-green padding-15">

            <button class="btn-close"><mat-icon>close</mat-icon></button>
            <div class="display-flex flex-row">
                <div class="suggestion-title"><h5>Commencez à l'aide de modèles prêts à l'emploi.</h5></div>
                <button>Pacourer tous les modèles</button>
            </div>

            <section class="explaires-suggestions display-flex align-between">
                <section class="exp-suggestion width-50 height-200px padding-5  display-flex align-center"  *ngFor="let mail of mails; let index = index">
                    <p class="image"><img class="img-suggestion" src='{{ "assets/images/" + mail.url}}' alt=""></p>
                </section>
            </section>
        </section>

        <section id="autres-composants" class="margin-top-15">

            <div class="boite-reception padding-15">
                <div class="display-flex">
                    <h4>Boite de réception</h4>
                    <div class="nbr-mail-reception">4</div>
                </div>
                <div class="liste-reception padding-25">
                    <div *ngFor="let mail of mails; let index = index">
                        <div class="mail-recu display-flex align-between">
                            <div>
                                <span class="image"><img  src='' alt=""></span>
                                <span class="prenom">{{mail.nom}}</span>
                            </div>
                            <span class="nbr-j-recption">{{mail.jour}}-j</span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>


            <div class="recent padding-15">
                <h4>Récent</h4>
                <div class="liste-recent padding-25">
                    <div *ngFor="let recent of recents; let index = index">
                        <div class="recent-recu display-flex align-between">
                            <div>
                                <span class="title">{{recent.titre}}</span>
                            </div>
                            <mat-icon *ngIf="recent.cocher">stars</mat-icon>
                        </div>
                        <hr>
                    </div>
                   
                </div>
            </div>



            <div class="recent padding-15">
                <h4>Mes espaces de travail</h4>
                <div class="liste-travail padding-25 display-flex align-between">
                    <div class="travail-recu display-flex align-between width-50">
                        <span class="image">image</span>
                        <div>
                            <span class="title">Espace de travail principal</span>
                        </div>
                    </div>

                    <div class="travail-recu display-flex width-50 align-between">
                        <span class="image">image</span>
                        <div>
                            <span class="title">Mon espace</span>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
    </div>

    <section id="bloc-secondaire" class="width-30">

        <div>
            <div class="complete-profil padding-15 bd-radius-5 back-color-white bd-radius-5">
                <div class="display-flex align-between">
                    <h3>Compléter votre profil</h3>
                    <button class="btn-close"><mat-icon>close</mat-icon></button>
                </div>
                <div class="display-flex flex-column">
                    <span *ngFor="let lstActProfil of listeActionProfil" class="display-flex">
                        <mat-icon *ngIf="lstActProfil.active" class="icon-radio">radio_button_checked</mat-icon>
                        <mat-icon *ngIf="!lstActProfil.active" class="icon-radio">radio_button_unchecked</mat-icon>
                        <a href="#" class="padding-left-15">{{lstActProfil.titre}}</a>
                    </span>
                </div>
            </div>

            <div class="bar-de-suivi complete-profil padding-15 back-color-white bd-top">

            </div>
        </div>

        <h2>Apprendre et trouver des idées</h2>
        
        <div class="margin-5 back-color-white padding-5 bd-radius-5">
            <img src="#" alt="">
            <p>Démarrer</p>
            <p>Découvrez comment nous fonctionnons</p>
        </div>

        <div class="margin-5 back-color-white padding-5 bd-radius-5">
            <img src="#" alt="">
            <p>Démarrer</p>
            <p>Découvrez comment nous fonctionnons</p>
        </div>

        <div class="margin-5 back-color-white padding-5 bd-radius-5">
            <img src="#" alt="">
            <p>Démarrer</p>
            <p>Découvrez comment nous fonctionnons</p>
        </div>
    </section>

<div>