<div id="container" class="d-fx fx-row">

    <div class="left-sidebar h-100 w-10 p-0 m-O bd-r d-fx fx-column fx-sp-between">

        <ul class="e-group p-0 m-O">

            <li class="e-text mt-15-nega" routerLink="espace-projet">
                <mat-icon>home</mat-icon>
                <span class="pl-15" title="Espace de travail">espace projet</span>
            </li>
            <li class="e-text"  routerLink="espace-travail">
                <mat-icon>dashboard</mat-icon>
                <span class="pl-15" title="Espace de travail">Espace de travail</span>
            </li>
            <li class="e-text">
                <mat-icon>notification_important</mat-icon>
                <span class="pl-15" title="Notifacation" >Notifacation</span>
            </li>

            <li class="e-text">
                <mat-icon>markunread_mailbox</mat-icon>
                <span class="pl-15" title="Boite de réception">Boite de réception</span>
            </li>

            <li class="e-text">
                <mat-icon>view_agenda</mat-icon>
                <span class="pl-15" title="Mon travail">Mon travail</span>
            </li>
        </ul>

        <div class="d-fx fx-row btn-bottom-group">
            <ul class="e-group p-0 m-O d-fx fx-column">
                <li class="e-icon d-fx align-center p-15">
                    <mat-icon  title="help">help</mat-icon>
                </li>
                <li class="e-icon d-fx align-center p-15">
                    <mat-icon  title="search">search</mat-icon>
                </li>
                <li class="e-icon d-fx align-center p-15" (click)="isShowProfile = !isShowProfile">
                    <mat-icon  title="Login">supervised_user_circle</mat-icon>
                </li>
        
            </ul>
            <app-profile-popup *ngIf="isShowProfile"></app-profile-popup>

        </div>
    </div>
</div>