<header>
    <h1 class="#">monday.com</h1>
    <ul>
        <li>Produit</li>
        <li>Solutions</li>
        <li>Modèles prédéfinis</li>
        <li>Prix</li>
    </ul>

    <div class="btn-group">
        <button>Contact commercial</button>
        <button *ngIf="!jwtToken.isAuthenticated" routerLink="/signin" class="btn" >Se connecter</button>
        <button *ngIf="jwtToken.isAuthenticated" (click) = "logout()">Se deconnecter</button>
        <!-- <button class="btn">Commencer ></button> -->
    </div>
</header>