header{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-top: 25px;
    
    ul{
        display: flex;
        width: 50%;
        justify-content: space-between;
    }

    .btn-group{
        display: flex;
        width: 25%;
        justify-content: space-between;

        button{
            border: none;
            background-color: white;
        }

        button:hover{
            color: var(--color-jeans);
        }

        .btn{
            background-color: var(--color-jeans);
            color: white;
            border-radius: 60px;
            padding: 10px;
        }

        .btn:hover{
            color: white;
        }
    }

}