header{
    background-color: var(--color-basic_blue);
    color: var(--color-snow_white);
    font-size: 15px;
}

footer{
    background-color: var(--color-placholder_gray);
    color: var(--color-snow_white);

}