button{
    width: 360px;
    height: 56px;
    background-color: #fff;
    border: none;
    border-color: white;
    color: #000;
    border-radius: 60px;
    margin: 15px;
    text-align: center;
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url('https://blogin.co/images/google_g_logo.svg');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

button:hover{
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}